
$primary: #e10b06;
$primary-light: #d65956;
$secondary: #fc7f0b;
$secondary-light: #f4af70;
$black: #0d0d0d;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Spline Sans', sans-serif;
}

* {
  box-sizing: border-box;
}
