@use 'base';

.container {
 display: flex;
 flex-direction: row;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  button {
    margin: 10px 5px 10px 5px;
    font-size: 25px;
    background-color: base.$primary;
    border: 1px solid base.$primary;
    border-radius: 5px;
  }
  button:hover {
    cursor: pointer;
    background-color: base.$primary-light;
  }
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
